*{
	padding: 0;
	margin: 0;
}
body{
	font-family: Helvetica;
}
.image-part{
	margin-top: 50px;	
}
.about-image{
	width: 100%;
	height: 250px;
	
	box-shadow: 10px 10px 5px #bdc3c7;
	border-radius: 20px;
}
.aboutme-image{
	width: 100%;
	height: 570px;

	box-shadow: 10px 10px 5px #bdc3c7;
	border-radius: 20px;
}
.about-text{
	font-family: opensans-regular;
	font-size: 15px;
}
hr{
	border: 1px solid #7f8c8d;
}
