@import url(fonts.css);
*{
	padding: 0;
	margin: 0;
}
body{
	font-family: Helvetica;
}
.main{
	/*position: static;
	padding-top: 50px;	*/
}
.portfolio-item {
    margin-bottom: 25px;
}
.article{
	border: 1px solid grey;
	border-radius: 10px;
	padding-bottom: 10px;	
}
.article-image{
	width: 500px;
	height: 400px;
	border-radius: 50px;
}
.padding{
	padding-bottom: 30px;
}
.pulse{
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}