*{
	margin: 0;
	padding: 0;
}
.article {
	border-radius: 30px;
	background-color: white;
	margin-top: 5%;
	padding: 2%;
	color: black;
}
body {
	background-image: url(../images/tennis-main.jpg);
	height: 100%;
}