@import url('fonts.css');
.article-title{
	font-family: segoeui;
	font-size: 2em;
	font-weight: bold;
	line-height: 1.25em;
}
.article-text {
	font-family: opensans-regular;
	font-size: 15px;
}
.img-article{
	width: 400px;
	height: 350px;
	border-radius: 20px;
}
.marged {
	margin-bottom: 20px;
}