/*THIS IS HEADER PART CSS*/
@import url(fonts.css);
*{
	margin: 0px;
	padding: 0px;
}
.header-part{
	/*background-image: url(../images/Header_texture.jpg);*/	
	/*height: auto;*/
	/*position: fixed;
	*/
	width: 100%;
	z-index: 10;
}
#second{
	margin: 0;
}
.head-icon{
	width: 5%;
	height: 5%;
	display: inline;
}
.topHeading{	
    font-family: opensans;
    font-size: 2em;
    color: white;
    display: inline;
    text-decoration: none;
}
.header-part a {
	text-decoration: none;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    #no-language{
    	display: none;
    }

}
.modal-show{
	font-family: opensans-regular;
	color: white;
}
.modal-show:hover, .modal-show:focus{
	color: white;
}
.tennis-color{
	background-color: #d35400;
	border: none;
}


#header{
	background-color: #d35400;	
	padding-bottom: 50px;
}
.head-second-row{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: #d35400;
	width: 100%;	
	padding-top: 5px;
	padding-bottom: 5px;
}
menu{
	text-align: center;
	display: block;	
	opacity: 1;
}

menu ul{
	list-style: none;
	display: inline-block;
	/*height: 100%;*/
}
menu li{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	color: #f39c12;
}
.first-menu li a{
	font-size: 16px;
	font-family:  lato-regular;
	color: rgb(192,192,192);
	transition-property: all;
	transition-duration: 0.3s;
	transition-limiting-function: ease-out;
	transition-delay: initial;	
	text-decoration: none;					
}

.second-menu li a:after{
	content: "";
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
	visibility: hidden;
}

.first-menu li a:not(.active):hover{	
	text-decoration: none;		
    color: white;  
}
.second-menu li a:not(.active):hover{
	text-decoration: none;
	color: white;
}
.second-menu li a:not(.active):hover:after{
	visibility: visible;
	width: 100%;
	color: black;
	background: white;
}
.second-menu li a .changed:after{
	width: 100%;
	color: #c0392b;
	background: black;
}
.second-menu li a.active{	
	font-family: lato-regular;
	text-decoration: none;
	color: black; 		
	font-size: 1.5em;
	border-bottom: 1px solid black;
}
.first-menu-padd{
	padding-bottom: 30px;
}
.second-menu li{
	margin-right: 12px;
	margin-left: 12px;
}
.second-menu li a{
	font-size: 1.2em;
	font-family: segoeui;
	color: white;
}
.active{    
	text-decoration: none;
	font-style: bold;
	font-size: 1.7em;
	color: black; 	
}
.icon{
	width: 40px;
	height: 40px;
	display: inline;
	margin-right: 15px;
}
.header a {
	text-decoration: none;
}
.main-heading{
	font-family: opensans;
	font-size: 1.7em;
	text-decoration: none;
	display: inline;
	color: white;
}
.marged-heading{
	margin-left: 130px;
}
.second-menu-padd{
	margin-top: 370px;
}
.head-text{
	font-family: opensans-regular;
	color: white;
	font-size: 32px;
	text-align: center;
}
.head-subtext{
	font-family: opensans-regular;
	color: white;
	font-size: 16px;
	text-align: center;
}
.tennis-info{
	margin-right: 100px;
}
/*END OF HEADER PART CSS*/