*{
	margin: 0;
	padding: 0;
}
.post {
	border-radius: 30px;
	background-color: #f05f40;
	margin-top: 10%;
	padding: 2%;
	color: white;
}
body {
	background-image: url(../images/tennis-middle.jpg);
	height: 100%;
}