@import url(fonts.css);
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: roboto-regular, Helvetica;
}
header{
	background-image: url(../images/background.jpg); 
	height: 100%;
	margin-bottom: 50px;
	opacity: 10;

}

.head-second-row{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: #d35400;
	width: 100%;	
	padding-top: 5px;
	padding-bottom: 5px;
}
menu{
	text-align: center;
	display: block;	
	opacity: 1;
}

menu ul{
	list-style: none;
	display: inline-block;
	/*height: 100%;*/
}
menu li{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	color: #f39c12;
}
.first-menu li a{
	font-size: 16px;
	font-family:  lato-regular;
	color: rgb(192,192,192);
	transition-property: all;
	transition-duration: 0.3s;
	transition-limiting-function: ease-out;
	transition-delay: initial;	
	text-decoration: none;					
}

.second-menu li a:after{
	content: "";
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
	visibility: hidden;
}

.first-menu li a:not(.active):hover{	
	text-decoration: none;		
    color: white;  
}
.second-menu li a:not(.active):hover{
	text-decoration: none;
	color: white;
}
.second-menu li a:not(.active):hover:after{
	visibility: visible;
	width: 100%;
	color: black;
	background: white;
}
.second-menu li a .changed:after{
	width: 100%;
	color: #c0392b;
	background: black;
}
.second-menu li a.active{	
	font-family: lato-regular;
	text-decoration: none;
	color: black; 		
	font-size: 1.5em;
	border-bottom: 1px solid black;
}
.first-menu-padd{
	padding-bottom: 30px;
}
.second-menu li{
	margin-right: 12px;
	margin-left: 12px;
}
.second-menu li a{
	font-size: 1.2em;
	font-family: segoeui;
	color: white;
}
.active{    
	text-decoration: none;
	font-style: bold;
	font-size: 1.7em;
	color: black; 	
}
.icon{
	width: 40px;
	height: 40px;
	display: inline;
	margin-right: 15px;
}
.header a {
	text-decoration: none;
}
.main-heading{
	font-family: opensans;
	font-size: 1.7em;
	text-decoration: none;
	display: inline;
	color: white;
}
.marged-heading{
	margin-left: 115px;
}
.second-menu-padd{
	margin-top: 370px;
}
.head-text{
	font-family: opensans-regular;
	color: white;
	font-size: 32px;
	text-align: center;
}
.head-subtext{
	font-family: opensans-regular;
	color: white;
	font-size: 16px;
	text-align: center;
}
.tennis-info{
	margin-right: 100px;
}

/*THIS IS MAIN PART CSS*/
.main{
	/*position: static;
	padding-top: 50px;	*/
}
.image-carousel{
	width: 1200px;
	height: 500px;
}
.label-caption{
	font-family: opensans;
	color: white;
	
}
.main-heading{
	font-family: roboto-b;
}
.country-image{
	width: 40px;
	height: 20px;
}
.news{

		padding-bottom: 30px;
	/*border: 1px solid #ecf0f1;
	border-radius: 10px;*/
}
.news-image{
	border-radius: 10px;
}
a.news-label{	
	font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    color: #384452;
    text-decoration: none;
}
.news-text{
	font-family: 
}
.publisher{
	font-family: 'Raleway';
	font-size: 0.7em;
	color: #95a5a6;	
}


.under-h-text{
	font-style: 'Raleway';
	font-size: 0.9em;
	color: #95a5a6;
}
.advert{
	border: 1px solid grey;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	font-size: 15px;
	font-family: segoeuii;
	text-align: center;	
}
.advert a{
	text-decoration: none;
	color: #e67e22;
}
.image-advert{
	width: 100%;
	height: 200px;
}

#shaker{
	width:299px; 
	height:253px; 
	display:none;
}
.nopadd{
	padding: 0!important;
}
#nopadd .col-md-12{
	padding: 0!important;
}
/* For mobile phones: */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    #no-language{
    	display: none;
    }

}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*END OF MAIN PART CSS*/