@import url(fonts.css);
*{
	padding: 0;
	margin: 0;
}
.padding{
	padding-bottom: 30px;
}
.portfolio-item {
    margin-bottom: 25px;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
iframe, object, embed {
    max-width: 100%;
} 