@import url('fonts.css');
*{
	margin: 0;
	padding: 0;
}
.news-text{
	font-family: opensans-regular;
	font-size: 1em;
	color: black;
}
.news-title{
	font-family: opensans;
	color: black;
	font-size: 1.5em;
}
.news-image{
	width: 100%:
	border-radius: 20px;
}
.marged{
	margin-top: 50px;
}