*{
	margin: 0;
	padding: 0;
}
header{
	background-image: url(../img/ball-main.jpg);

}
.custom-brand{
	color: black!important;
}
.custom-nav{
	color: black!important;	
}
.inline-smile{
	width: 30px;
	height: 30px;
	display: inline;
}
.inline-important-smile{
	width: 80px;
	height: 80px;
	display: inline;
}
.service-text{
	font-size: 16px;
	color: #2c3e50;
}
.important-link{
	text-decoration: none;
	color: black;
}
.important-heading{
	font-family: 'Open Sans';	
	font-size: 4em;
	color: black;
}
.important-text:hover{
	text-decoration: none;
	color: black;
}